<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-vector/now-showing-movie-cinema-poster-banner-background_7102-277.jpg?w=2000);">
  <div class="container">
    <h1><strong>Lists:</strong></h1>
    <p>THE WAGON CINESHOW</p>
    <div class="btn btn-ghost">
      <%= link_to "Add a new list", new_list_path(@list) %>
    </div>
  </div>
</div>

<%# <p>Find me in app/views/lists/index.html.erb</p> %>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key %>)">
      <div class="link">
        <%= link_to list.name, list_path(list) %>
      </div>
     </div>
  <% end %>
</div>
